<form class="panel centered-text">
    <h1>Angular FourSquareApp</h1>
    {{city}}
    <input ng-model="city" type="text" placeholder="City">
    {{category}}
    <input ng-model="category" type="text" placeholder="Category">
    <button type="submit" ng-click="search()" class="small radius button">Press to search</button>
</form>