<input ng-model="filterQuery" type="text" placeholder="start typing to filter results..."/>
<ul style="float: left; width: 50%;">
    <place-card ng-repeat="place in places | filter: filterPlaces"></place-card>
</ul>
<p>{{selectedPlace.name}}</p>
<p>{{selectedPlace.location.address}}</p>